.flex-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
   // height: 100%;
    justify-content: space-between;
}


.main-cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //width: 100%;
    transition: bottom 2s ease-in-out;
    height: calc(var(--vh, 1vh) * 65);
    //transform: translateX(398px);

    .wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .big-card1{
            background-color: $card-bg;
            width: 22rem!important;
            height: 18rem;
            border-radius: 2px;
            overflow: hidden;
            transform: scale(0.9);

            @media screen and (max-width: 768px) {
                position: relative;
                left: -1rem;
            }

            @media (min-width: 1300px) and (max-width: 1399px) {
                position: relative;
                left: -0.5rem;
            }

            @media (min-width: 1400px) and (max-width: 1600px) {
                position: relative;
                left: -0.6rem;
            }
        
            .credit-card{
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                top: 1rem;
                left: 1rem;
                >.card{
                    font-size: 2rem;
                    color: lightgray;
                }
                p{
                    margin-left: 1rem;
                    font-family: $font-secondary;
                }
            }
    
            .invoice{
                position: relative;
                top: 4rem;
                left: 1rem;
                >.recent-invoice{
                    text-transform: uppercase;
                    font-size: 0.9rem;
                    font-weight: bold;
                    color: $invoice-value;
                    margin-bottom: 0.5rem;
                    font-family: $font-secondary;
                }
                >.invoice-value{
                    font-size: 2rem;
                    color: $invoice-value;
                    margin-bottom: 0.5rem;
                    font-family: $font-secondary;
                    >b{
                        font-weight: bold;
                    }
                }
                
                >.invoice-due{
                    text-transform: uppercase;
                    color: #989898;
                    font-weight: 500;
                }
                >.invoice-pay{
                    border-radius: 2px;
                    border: 1px solid red;
                    padding: 0.5rem 2rem;
                    background-color: transparent;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: red;
                    margin-top: 0.5rem;
                }
            }
    
            .invoice-news{
                background-color: $card-bottom;
                width: 22rem;
                height: 4.5rem;
                border-radius: 2px;
                position: relative;
                top: 5rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                
                >.invoice-msg{
                    color: gray;
                    font-size: 0.9rem;
                    line-height: 1rem;
                    text-align: left;
                    margin-left: 1rem;
                }
            }
    
            .invoice-green{
                background-color: $money;
                width: 0.5rem;
                height: 13.7rem;
                display: block;
                position: relative;
                bottom: 14.2rem;
                left: 21.5rem;
            }
            .invoice-orange{
                background-color: orange;
                width: 0.5rem;
                height: 3.7rem;
                display: block;
                position: relative;
                bottom: 14.2rem;
                left: 21.5rem;
            }
            .invoice-red{
                background-color: red;
                width: 0.5rem;
                height: 7.7rem;
                display: block;
                position: relative;
                bottom: 14.2rem;
                left: 21.5rem;
            }
    
        }
    
        .big-card2{
            background-color: $card-bg;
            width: 22rem!important;
            height: 18rem;
            border-radius: 2px;
            overflow: hidden;
            transform: scale(0.9);


            @media screen and (max-width: 768px) {
                position: relative;
                right: 23rem;
            }

            @media (min-width: 991px) and (max-width: 1399px) {
                position: relative;
                right: 22.9rem;
            }

            @media (min-width: 1400px) and (max-width: 1600px) {
                position: relative;
                right: 23rem;
            }
        
            
            .nu-account{
                position: relative;
                left: 3rem;
                bottom: 0.5rem;
                color: gray;
            }
        
            .money-icon{
                color: lightgray;
                position: relative;
                top: 1rem;
                left: 1rem;
            }

            .deposit{
                color: lightgray;
                margin-left: 1rem;
            }
    
            .card-value{
                display: block;
                position: relative;
                top: 2rem;
                left: 1rem;
    
                >.chart{
                    background-color: transparent;
                    display: block;
                    height: 8vh;
                    width: 50%;
                    position: relative;
                    left: 0.5rem;
                    bottom: 1rem;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    .chart-item{
                        display: block;
                        height: 50%;
                        width: 0.2rem;
                        border-radius: 10px;
                        background:lightgray;
                        margin-right: 10px;
    
                        @for $i from 1 through 12 {
                            &:nth-child(#{$i}){
                                width: 2%;
                                height: 10% + ($i * 7%);
                                background: $default-color;
                            }
                        }
    
                        @for $i from 1 through 5 {
                            &:nth-child(#{$i}){
                                width: 2%;
                                height: 45%;
                                background: lightgray;
                            }
                        }
                    }
                }
    
                >.balance{
                    font-size: 2rem;
                    color: $text-card;
                    font-weight: normal;
                    background-color: transparent;
                    font-family: $font-secondary;
                    >b{
                        font-weight: bold;
                    }
                }
    
                >.yield{
                    font-family: $font-secondary;
                    margin-top: 0.5rem;
                    font-size: 0.8rem;
                    font-weight: 400;
                    color: $text-card;
                    >b{
                        font-weight: 800;
                        color: $money;
                    }
                }
            }
    
            .balance-control{
                color: lightgray;
                position: relative;
                bottom: 8rem;
                left: 19rem;
            }
    
            .account-news{
                background-color: $card-bottom;
                width: 22rem;
                height: 4.5rem;
                border-radius: 2px;
                position: relative;
                top: 3.2rem;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: flex-start;
    
                .card-value-bottom{
                    .news-description{
                        font-size: 0.9rem;
                        color: gray;
                        text-align: left;
                        margin-left: 1rem;
                    }
                }
            }
    
        }
    
        .big-card3{
            background-color: $card-bg;
            width: 22rem!important;
            height: 18rem;
            border-radius: 2px;
            overflow: hidden;
            transform: scale(0.9);

            @media screen and (max-width: 768px) {
                position: relative;
                right: 45rem;
            }

            @media (min-width: 991px) and (max-width: 1399px) {
                position: relative;
                right: 45rem;
            }
            
            @media (min-width: 1400px) and (max-width: 1600px) {
                position: relative;
                right: 44.5rem;            
            }
        
    
            .rewards{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
    
                >.gift{
                    color: lightgray;
                    width: 38px;
                    height: 38px;
                    align-self: flex-start;
                    margin-left: 1rem;
                    margin-top: 1rem;
                }
    
                >.rewards-value{
                    font-size: 2.3rem;
                    font-weight: bold;
                    color: $default-color;
                    align-self: flex-start;
                    margin-top: 2rem;
                    margin-left: 1rem;
                    >b{
                        font-weight: lighter;
                    }
                }
    
                >.rewards-desc{
                    margin-top: 1rem;
                    font-size: 1rem;
                    align-self: flex-start;
                    margin-left: 1rem;
                    text-align: justify;
                    >b{
                        font-weight: bold;
                        color: $default-color;
                    }
                }
            }
    
            .rewards-news{
                background-color: #F6F6F6;
                width: 22rem;
                height: 4.5rem;
                display: block;
                border-radius: 2px;
                position: relative;
                top: 3rem;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                .bag{
                    margin-left: 1rem;
                }
                .rewards-recent{
                    font-size: 0.9rem;
                    color: gray;
                    line-height: 1rem;
                    text-align: justify;
                    margin-left: 1rem;
                }
            }
        }
    }
}
