// Cores do projeto

$default-color : #6F2177;
$background-color: #d3d3d3;
$menu-border-color: #975EB1;

$card-bg: #FEFEFE;
$card-bottom: #F6F6F6;
$text-card: #2D2D2D;
$money: #69C04F;
$bottom-bg: #792694;
$bg-option: #fdfafa;
$white-dark: darken(white, 5);
$bg-invoice: #3D2C3F;
$menu-invoice: #5b395f;
$bg-hide: #00000070;
$invoice-value: rgb(255, 42, 42);