.whitescreen{
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
}

.grayscreen{
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 1;
}

.slide-invoice{
    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar{
        display: none;
    }
}

.invoice-view{
    display: flex;
    width: 200%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    .view-1{
        width: 100%;
        height: 100%;
        transition: all 0.5s;
        @media screen and (max-width: 991.98px) {
            width: 50%;
        }
        >.invoice-header{
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            height: calc(var(--vh, 1vh) * 1);
            .return{
                display: flex;
                align-items: center;
            }
            .search{
                margin-right: 1rem;
                display: flex;
                align-items: center;
            }
            .invoice-search{
                display: none;
                border: none;
                border-bottom: 1px solid lightgray;
                vertical-align: super;
                font-size: 1.1rem;
                width: 10rem;
            }
        }
    
        .invoice-info{
            display: flex;
            align-items: center;
            flex-direction: row;
            font-family: $font-secondary;
            .invoice-card{
                flex-direction: column;
                display: flex;
                align-items: center;
                >.value{
                    margin-top: 2rem;
                    font-size: 2rem;
                    color: $invoice-value;
                    >b{
                        font-weight: bold;
                    }
                }
                >.due-date{
                    margin-top: 0.5rem;
                    text-transform: uppercase;
                    color: lightgray;
                }
                >.pay{
                    margin-top: 1.5rem;
                    border-radius: 2px;
                    border: 1px solid $invoice-value;
                    padding: 1rem 4rem;
                    background-color: transparent;
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $invoice-value;
                }
                >.last-news{
                    color: black;
                    text-align: center;
                }
                >.value-invoice-closed{
                    margin-top: 2rem;
                    font-size: 2rem;
                    color: $invoice-value;
                    >b{
                        font-weight: bold;
                    }
                }
                >.invoice-due-date{
                    margin-top: 0.5rem;
                    text-transform: uppercase;
                    color: lightgray;
                }
                >.invoice-avaiable-limit{
                    margin-top: 0.5rem;
                    color: lightgray;
                    >b{
                        color: $money;
                        font-weight: bold;
                    } 
                }
            }
        }
    
        .container-invoice{
            height: calc(var(--vh, 1vh) * 60);
            .invoice-list{
                background: $white-dark;
                overflow-y: scroll;
                height: 100%;
                width: 100%;
                &::-webkit-scrollbar {
                    display: none;
                }
                .invoice-item{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-bottom: 1px solid #e6e6e6;
                    align-items: center;
                    min-height: 20%;
                    .invoice-content{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        .item-title{
                            font-size: 0.9rem;
                            align-self: center;
                        }
                        .item-desc{
                            font-size: 1.2rem;
                            align-self: center;
                        }
                        .item-value{
                            align-self: center;
                            font-size: 1.1rem;
                        }
                        .item-tags{
                            margin-top: 0.3rem;
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;
                            justify-content: center;
                            >.tag{
                                font-weight: bold;
                                color: black;
                                margin-right: 0.5rem;
                                &:before{
                                    content: '#';
                                }
                            }
                        }
                    }
                    >.icon{
                        margin-left: 1rem;
                    }
                    .item-date{
                        margin-right: 1rem;
                        font-size: 0.9rem;
                        color: gray;
                    }
                }
            }
        }
    }

    .view-2{
        background-color: $bg-invoice;
        width: 100%;
        display: flex;
        flex-direction: row;
        .list-options{
            display: flex;
            flex-direction: column;
            width: 90px;
            padding-top: 2rem;
            background: $menu-invoice;
            height: calc(var(--vh, 1vh) * 100);
            .option{
                height: 15%;
                .btn-icon{
                    width: auto;
                    height: auto;
                    max-width: 26px;
                    max-height: 26px;
                    display: block;
                    margin: 0 auto;
                }
                .title{
                    color: white;
                    font-size: 0.9rem;
                    text-align: center;
                    margin-top: 0.5rem;
                }
            }
        }
        .info-news{
            display: flex;
            width: 100%;
            justify-content: flex-end;
            flex-direction: column;
            margin-right: 1rem;
            line-height: 1.4rem;
            height: 100%;

            .actual-invoice{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                position: relative;
                bottom: 18rem;
                .title{
                    text-transform: uppercase;
                    color: gray;
                }
                .value{
                    color: $invoice-value;
                    font-weight: bold;
                }
            }

            .avaiable-limit{
                color: white;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                position: relative;
                bottom: 5rem;
                .title{
                    text-transform: uppercase;
                    color: gray;
                }
                .value{
                    color: $money;
                    font-weight: bold;
                }
                .adjustment{
                    text-transform: uppercase;
                }
            }
        }
    }
    .bars{
        width: 0.7rem;
        height: 100%;
        display: block;
        overflow: hidden;
        position: fixed;
        top: 0;
        right: var(--right);
        .green-bar{
            background-color: $money;
            height: 100%;
            display: block;        
        }
        .orange-bar{
            background-color: orange;
            height: 20%;
            display: block;
        }
        .red-bar{
            background-color: red;
            height: 40%;
            display: block;        
        }
    }
}

.invoice-item-details{
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100);
    .btn-return{
        position: absolute;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        >.icon{
            font-size: 2rem;
        }
    }
    .map{
        overflow: hidden;
        width: auto;
        height: 25vh;
        object-fit: cover;
    }
    .purple-circle{
        padding: 1.6rem;
        background: purple;
        border-radius: 100%;
        align-self: center;
        position: relative;
        bottom: 2.3rem;
        min-width: 25px;
        max-width: 25px;
        min-height: 26px;
        max-height: 26px;
        .icon-center{
            display: block;
            margin: auto;
        }
    }
    .invoice-item-desc{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 20vh;
        justify-content: space-between;
        .item-data{
            text-transform: uppercase;
            color: gray;
            font-size: 1.2rem;
        }
        .item-name{
            font-size: 2rem;
            font-weight: 500;
        }
        .item-value{
            font-size: 2rem;
        }
        .tags{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            .input-tag{
                display: none;
                font-size: 1.5rem;
                margin-top: 1rem;
                border: 0;
                border-bottom: 1px solid lightgray;
            }

            .add-tag{
                background: lightgray;
                font-size: 1.1rem;
                color: black;
                font-weight: 400;
                padding: 0.2rem 0.5rem;
                &:before{
                    content: '+ ';
                }
            }

            .plus{
                display: none;
                position: relative;
                font-size: 2rem;
                font-weight: bold;
                bottom: 2rem;
                left: 8.5rem;
                z-index: 1;
            }
            .tag-list{
                display: flex;
                width: 70%;
                justify-content: space-evenly;
                flex-wrap: wrap;
                .tag{
                    background: lightgray;
                    height: 100%;
                    font-size: 1.1rem;
                    color: black;
                    font-weight: 400;
                    padding: 0.2rem 0.5rem;
                    margin-top: 1rem;
                    &:before{
                        content: '#';
                    }
                }
            }
        }
    }
}

.invoice-active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
  }
